html,
body {
  scroll-behavior: smooth;
}

#index-body {
  background-color: whitesmoke;
}

.top-container {
  display: flex;
  flex-direction: column;
}

.navigation-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-box-shadow: 0px 5px 10px 0px #7c7c7c;
  box-shadow: 0px 5px 10px 0px #7c7c7c;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navigation-container img {
  padding: 5px;
}

.container {
  padding: 40px 0;
}

.nav-tab {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-tab a {
  padding: 10px 5px;
  margin: 5px 0;
}

.nav-tab a:hover {
  text-decoration: underline;
}

.blog-card {
  margin-bottom: 20px;
}

.card-body h5 {
  text-decoration: underline;
}

.img-fluid {
  margin: 10px 0;
}

.img-thumbnail {
  margin: 5px 0;
}

.back-top {
  height: 48px;
  width: 48px;
  padding: 5px;
}
