/* index.html navigation section stylings */

#index-body {
  background-color: whitesmoke;
}

.top-container {
  display: flex;
  flex-direction: column;
}

.navigation-container {
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-box-shadow: 5px 5px 15px 5px rgb(44, 44, 44);
  box-shadow: 5px 5px 15px 5px rgb(44, 44, 44);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

.logo-container img {
  padding: 5px;
}

.dash-container {
  padding-right: 5px;
}

.dash-container a {
  margin: 5px;
  color: white;
}

.dash-container a:hover {
  text-decoration: underline;
}

.container {
  padding: 40px 0;
}

.nav-tab {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-tab a {
  padding: 10px 5px;
  margin: 5px 0;
}

.nav-tab a:hover {
  text-decoration: underline;
}

.blog-card {
  margin-bottom: 20px;
}

.card-body h5 {
  text-decoration: underline;
}
