{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>ProCoder | Home</title>
  </head>
  <body id="index-body">
    <!-- navigation -->
    <div class="navigation-container">
      <!-- page logo -->
      <div class="logo-container">
        <a href="{% url 'home' %}">
          <img src="{% static 'img/procoder_logo.png' %}" alt="website logo" />
        </a>
      </div>
      <div class="dash-container">
        <a class="btn btn-outline-success" href="#">Login</a>
        <a class="btn btn-outline-primary" href="#">Create Account</a>
        <a class="btn btn-outline-warning" href="#">Create Post</a>
        <a class="btn btn-outline-danger" href="#">Logout</a>
      </div>
    </div>

    <!-- content -->
    <div class="container">
      <div class="row">
        <!-- nav tab -->
        <div class="col-md-auto nav-tab">
          <a href="{% url 'home' %}" class="btn btn-outline-primary">Home</a>
          <a href="#" class="btn btn-outline-primary">Tags</a>
          <a href="#" class="btn btn-outline-primary">FAQs</a>
          <a href="#" class="btn btn-outline-primary">About</a>
          <a href="#" class="btn btn-outline-primary">Contacts</a>
          <br />
          <a href="#" class="btn btn-outline-secondary">Code of conduct</a>
          <a href="#" class="btn btn-outline-secondary">Privacy policy</a>
          <a href="#" class="btn btn-outline-secondary">Terms of use</a>
          <br />
        </div>
        <!-- blog tab -->
        <div class="col">
          <!-- blog post -->

          <!-- begin if -->
          {% if object %}
          <!-- begin ig -->
          <div class="card blog-card">
            <div class="card-header text-muted">
              Posted by: {{ article.author }}
            </div>
            <div class="card-body">
              <h3 class="card-title">{{ article.title }}</h3>
              <p class="card-text">{{ article.content }}</p>
            </div>
            <div class="card-footer text-muted">{{ article.created_on }}</div>
          </div>

          <!-- else -->
          {% else %}
          <!-- else -->
          <div class="card blog-card">
            <div class="card-header text-muted">Posted by:</div>
            <div class="card-body">
              <h3 class="card-title">Oops! Something went wrong!</h3>
              <p class="card-text">
                Something went wrong! We are sorry for the inconvinience... The
                information your are looking for appears to be missing from the
                database. Please read a different blog as we work hard to bring
                this missing one back!
              </p>
            </div>
            <div class="card-footer text-muted">Posted:</div>
          </div>

          <!-- end if -->
          {% endif %}
          <!-- end if -->
        </div>
      </div>
    </div>
  </body>
  <!-- bootstrap bundle js -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
</html>
